html {
    height: auto;
    min-height: 100%;
}

body {
  font-family: 'Nunito', sans-serif !important;
  background: #f1f4f7;
  padding-top: 60px;
  font-size: 14px;
  color: #444444;
}

.label-style {
    padding-top: 10px;
    font-weight: bold;
}

p {
  color: #777; }

a, a:hover, a:focus {
  color: #30a5ff; }

h1, h2, h3, h4, h5, h6 {
  color: #444444; }

h1 {
  font-weight: 300;
  font-size: 40px; }

h2 {
  font-weight: 300;
  margin-bottom: 20px; }

h3, h4 {
  font-weight: 300; }

.large {
  font-size: 2em; }

.text-muted {
  color: #c5c7cc; }

input.form-control {
  border: 1px solid #ddd;
  box-shadow: none;
  height: 46px; }

.bootstrap-table input.form-control {
  height: 34px; }

.input-group-btn .btn {
  height: 46px; }

.form-control:focus {
  border: 1px solid #30a5ff;
  outline: 0;
  box-shadow: inset 0px 0px 0px 1px #30a5ff; }

.navbar-custom {
  background: #222;
  height: 60px; }

.navbar-header .navbar-brand {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  height: 60px;
  padding-top: 18px; }

.navbar-header .navbar-brand span {
  color: #30a5ff; }

.navbar-toggle {
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  margin-top: 10px; }

.navbar-toggle:hover {
  background: rgba(255, 255, 255, 0.05); }

.icon-bar {
  background: #fff; }

.dropdown {
  float: left;
  margin: 10px 8px;
  padding: 0px;
  border-radius: 4px; }

.dropdown a.dropdown-toggle {
  color: #fff;
  height: 40px;
  width: 40px;
  padding-top: 11px;
  padding-left: 9px; }

.dropdown:hover {
  color: #fff;
  }

.dropdown .label {
  top: -4px;
  left: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: absolute;
  border-radius: 9999px; }

.navbar-top-links li:last-child {
  margin-right: 15px; }

.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  background: none; }

.dropdown small {
  color: #999; }

.dropdown em {
  margin: 0 5px; }

.dropdown-menu > li > a {
  padding: 5px 10px; }

.dropdown-menu li .message-body a {
  color: #444; }

.dropdown-menu li a:hover {
  color: #30a5ff;
  text-decoration: none;
  background: none; }

.divider, .clear {
  clear: both; }

.jumbotron {
  background: #fff;
  border-bottom: 1px solid #e9ecf2;
  color: #444444; }

.panel .tabs {
  margin: 0;
  padding: 0; }

.nav-tabs {
  background: #f2f3f2;
  border: 0; }

.nav-tabs li a:hover {
  background: #fff; }

.nav-tabs li a, .nav-tabs li a:hover, .nav-tabs li.active a, .nav-tabs li.active a:hover {
  border: 0;
  padding: 15px 20px; }

.nav-tabs li.active a {
  color: #30a5ff; }

.nav-tabs li a {
  color: #999; }

.tab-content {
  padding: 15px; }

.navbar {
  border: 0; }

.navbar input {
  border: 0;
  background: #444;
  color: #fff; }

.navbar input:focus {
  color: #fff;
  background: #555;
  border: 1px solid #30a5ff;
  outline: 0;
  box-shadow: inset 0px 0px 0px 1px #30a5ff; }

.user-menu {
  display: inline-block;
  margin-top: 14px;
  margin-right: 10px;
  float: right;
  list-style: none;
  padding: 0; }

.user-menu a {
  color: #fff; }

.user-menu a:hover, .user-menu a:focus {
  text-decoration: none; }

.sidebar {
  display: block;
  padding: 0;
  display: none;
  box-shadow: none;
  background: #fff; }

.sidebar ul {
  margin: 0px; }

.sidebar form {
  padding: 10px 0 0 0;
  margin: 10px 10px 20px 10px; }

@media (min-width: 768px) {
  .sidebar {
    display: block;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; }

  .navbar-header {
    width: 100%; } }
.sidebar ul.nav a:hover, .sidebar ul.nav li.parent ul li a:hover, .sidebar ul.nav li.parent a.active:hover {
  text-decoration: none;
  background-color: #30a5ff;
  color: #fff; }

.sidebar ul.nav li.active {
    background : #019847;
    color : white;
}

.sidebar ul.nav ul, .sidebar ul.nav ul li {
  list-style: none;
  list-style-type: none; }

.sidebar ul.nav li a {
  height: 50px;
  font-size: 15px;
  line-height: 2em;
  color: #444444; }

.sidebar ul.nav ul.children {
  width: auto;
  padding: 0;
  margin: 0;
  background: #f9f9f9; }

.sidebar ul.nav ul.children li a {
  height: 40px;
  background: #f1f4f7;
  color: #444444; }

.sidebar ul.nav li.current a {
  background-color: #30a5ff;
  color: #fff !important; }

.sidebar ul.nav li.parent ul li a {
  border: none;
  display: block;
  padding-left: 30px;
  line-height: 40px;
  border-radius: 0; }

.sidebar ul.nav li.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px 0; }

.breadcrumb {
  border-radius: 0;
  padding: 10px 15px 10px 15px;
  background: #e9ecf2;
  margin: 0; }

h1.page-header {
  margin-top: 20px;
  border-bottom: 0; }

.table {
  background: #fff; }

.table > thead > tr > th {
  border-bottom: 1px solid #e6e7e8;
  vertical-align: middle;
  height: 50px; }

#logout {
    color : black !important;
}

li.active a {
    color : #fff !important;
}

tbody tr:nth-child(odd){
    background-color: #30a5ff;
    color: #fff;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #222222;
   color: white;
   text-align: center;
   padding-top : 20px;
   z-index : 11111;
}

#logo {
    margin-top: -20px;
    margin-left: -15px;
}

.tooltip{
    position: relative;
    display: inline-block;
    opacity: 1 !important;
    font-size: 15px;
}

.tooltiptext {
    width: 100px;
    visibility: hidden;
    color:white;
    background-color: #4ef71b;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    bottom: 80%;
    margin-left: -15px;
    position:absolute;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.snauth-page {
    margin: auto;
    width: 83%;
    height: auto;
    background: white;
    padding: 15px 35px 50px 15px;
}

.btn-size {
    width: 140px;
}

.common-style-input {
    margin-bottom: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
}

#submit{
    font-size: 16px;
    background-color: #D0D5CE;
}

#update, #generate, #regenerate{
    display: none;
    float: right;
    font-size: 16px;
    background-color: #D0D5CE;
}

#regenerate{
    margin-right: 15px;
}

#submit:disabled, #email:disabled {
    cursor:not-allowed;
}

.clear {
    margin-top: 25px;
}

#email-input {

    margin-top: 5px;
    font-size: 18px;
}

.set-email-style {
    margin-left: -15px !important;
    margin-right: 15px !important;
}
#show-serial-no, #show-auth-code, #show-license, #license-choice, #comment-section, #show-pm-lkey, #show-ext-lkey, #show-reco-lkey, #show-sd-lkey, #show-cv-lkey, #expiry, #license-period, #license-period-time, #license-ex-date {
    display:none;
    font-size: 17px;
}

#comment-section label{
    font-weight: normal !important;
}

.set-width {
    width: 100%;
}

textarea{
    width: 100%;
}

#comment {
    background: rgba(0,0,0,0.03);
}

.tag-margin {
    margin-left: 19px;
}

.request-login {
    background-color: white;
    max-width: 535px;
    border-radius: 20px;
    margin: auto;
    margin-top: 5%;
    padding: 22px 0px 22px 0px;
}

#common-error {
    color: red;
    visibility: hidden;
}

.blocktooltiptext {
    width: 100px;
    visibility: hidden;
    color:white;
    background-color: #4ef71b;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    bottom: 80%;
    margin-left: -15px;
    position:absolute;
}

.blocktooltip:hover .blocktooltiptext {
    visibility: visible;
}

.blocktooltip{
    position: relative;
    display: inline-block;
    opacity: 1 !important;
    font-size: 15px;
}

#login-submit{
    background-color: #337ab7;
    font-size: 16px;
}

.login {
    background-color: white;
    max-width: 450px;
    border-radius: 20px;
    margin: auto;
    margin-top: 10%;
    padding: 22px 0px 22px 0px;
}
#error {
    color: red;
    visibility: hidden;
}

.t-tip {
    z-index: 1000 !important;
}